<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonathanfinerty.liquid" >

    <!-- todo: test and enable RTL support -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".LiquidApplication" >

        <activity
            android:name="com.jonathanfinerty.liquid.presentation.activities.OverviewActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jonathanfinerty.liquid.presentation.activities.SetBudgetActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.jonathanfinerty.liquid.presentation.activities.AddExpenseActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.jonathanfinerty.liquid.presentation.activities.ExpenseActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <provider
            android:name="com.jonathanfinerty.liquid.persistence.LiquidContentProvider"
            android:authorities="com.jonathanfinerty.liquid.persistence.LiquidContentProvider"
            android:exported="false"
            android:label="Liquid Content Provider"
            android:permission="com.jonathanfinerty.liquid.persistence.LiquidContentProvider.permission.READ_WRITE" />

        <service
            android:name="com.jonathanfinerty.liquid.services.CreateExpenseService"
            android:exported="false" />

        <service
            android:name="com.jonathanfinerty.liquid.services.DeleteExpenseService"
            android:exported="false" />

        <service
            android:name="com.jonathanfinerty.liquid.services.SetBudgetService"
            android:exported="false" />

        <service
            android:name="com.jonathanfinerty.liquid.services.UpdateExpenseService"
            android:exported="false" />

    </application>

</manifest>
