<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonathanfinerty.liquidity" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".presentation.activities.SetBudgetActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".presentation.activities.AddExpenseActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".presentation.activities.OverviewActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".persistence.LiquidityContentProvider"
            android:authorities="com.jonathanfinerty.liquidity.persistence.LiquidityContentProvider"
            android:exported="false"
            android:label="Liquidity Content Provider"
            android:permission="com.jonathanfinerty.liquidity.persistence.LiquidityContentProvider.permission.READ_WRITE" />

        <receiver android:name=".presentation.AddExpenseWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/add_expense_widget_info" />
        </receiver>

        <service
            android:name=".services.CreateExpenseService"
            android:exported="false" />

        <service
            android:name=".services.DeleteExpenseService"
            android:exported="false" />

        <service
            android:name=".services.SetBudgetService"
            android:exported="false" />

    </application>

</manifest>
